.danger, .primary {
	cursor: pointer;
}
.danger {
	color: #f5222d;
	&:hover {
		color: #ff4d4f;
	}
}
.primary {
	color: #1890ff;
	&:hover {
		color: #40a9ff;
	}
}
.ant-table table {
	th, td {
		padding: 8px;
		line-height: 30px;
		border-left: 1px solid #d9d9d9;
		text-align: center;
		max-width: 120px;
		min-width: 120px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		.anticon {
			font-size: 22px;
			margin-left: 6px;
			vertical-align: middle;
		}
	}
	th {
		font-weight: bold;
	}
}